.information {
  display: flex;
  justify-content: start;
  flex-direction: column; 
}

.choose-something {
  display: flex;
  justify-content: start;
  flex-direction: column; 
}

.list {
  cursor: pointer;
  text-decoration: underline
}

.table {
  border-collapse: collapse;
  border: 1px solid grey;
}

th {
  border: 1px solid grey
}

td {
  border: 1px solid grey;
  padding: 10px 15px;
}
