.container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
}

.remove_elements {
  width: 25px;
  height: 25px;
  background-color: red;
  color: black;
}

.information {
  margin-top: 4px;
  width: 500px;
}
.findList{
  width: 120px;
  height: 22px;
  color: white;
  border-radius: 4px;
  border-color: #0d6efd;
  background-color: #0d6efd;
}
